<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxjd.info.mapper.BroadcastTaskRecordMapper">
  <resultMap id="BaseResultMap" type="com.fxjd.info.pojo.BroadcastTaskRecord">
    <id column="TaskRecordID" jdbcType="INTEGER" property="taskRecordID" />
    <result column="TaskName" jdbcType="NVARCHAR" property="taskName" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UserID" jdbcType="INTEGER" property="userID" />
    <result column="Method" jdbcType="NVARCHAR" property="method" />
    <result column="PlayTime" jdbcType="TIMESTAMP" property="playTime" />
    <result column="State" jdbcType="NVARCHAR" property="state" />
    <result column="Text" jdbcType="NVARCHAR" property="text" />
    <result column="BroadcastFileIDs" jdbcType="NVARCHAR" property="broadcastFileIDs" />
    <result column="BroadcastEndpoints" jdbcType="NVARCHAR" property="broadcastEndpoints" />
    <result column="HashKey" jdbcType="NVARCHAR" property="hashKey" />
    <result column="play_mode" jdbcType="INTEGER" property="play_mode" />
    <result column="play_volume" jdbcType="INTEGER" property="play_volume" />
    <result column="play_second" jdbcType="INTEGER" property="play_second" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TaskRecordID, TaskName, CreateTime, UserID, Method, PlayTime, State, Text, BroadcastFileIDs, 
    BroadcastEndpoints, HashKey, play_mode, play_volume, play_second
  </sql>
  <select id="selectByExample" parameterType="com.fxjd.info.pojo.BroadcastTaskRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BroadcastTaskRecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BroadcastTaskRecord
    where TaskRecordID = #{taskRecordID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from BroadcastTaskRecord
    where TaskRecordID = #{taskRecordID,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fxjd.info.pojo.BroadcastTaskRecordExample">
    delete from BroadcastTaskRecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fxjd.info.pojo.BroadcastTaskRecord">
    insert into BroadcastTaskRecord (TaskRecordID, TaskName, CreateTime, 
      UserID, Method, PlayTime, 
      State, Text, BroadcastFileIDs, 
      BroadcastEndpoints, HashKey, play_mode, 
      play_volume, play_second)
    values (#{taskRecordID,jdbcType=INTEGER}, #{taskName,jdbcType=NVARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{userID,jdbcType=INTEGER}, #{method,jdbcType=NVARCHAR}, #{playTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=NVARCHAR}, #{text,jdbcType=NVARCHAR}, #{broadcastFileIDs,jdbcType=NVARCHAR}, 
      #{broadcastEndpoints,jdbcType=NVARCHAR}, #{hashKey,jdbcType=NVARCHAR}, #{play_mode,jdbcType=INTEGER}, 
      #{play_volume,jdbcType=INTEGER}, #{play_second,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fxjd.info.pojo.BroadcastTaskRecord">
    insert into BroadcastTaskRecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskRecordID != null">
        TaskRecordID,
      </if>
      <if test="taskName != null">
        TaskName,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
      <if test="userID != null">
        UserID,
      </if>
      <if test="method != null">
        Method,
      </if>
      <if test="playTime != null">
        PlayTime,
      </if>
      <if test="state != null">
        State,
      </if>
      <if test="text != null">
        Text,
      </if>
      <if test="broadcastFileIDs != null">
        BroadcastFileIDs,
      </if>
      <if test="broadcastEndpoints != null">
        BroadcastEndpoints,
      </if>
      <if test="hashKey != null">
        HashKey,
      </if>
      <if test="play_mode != null">
        play_mode,
      </if>
      <if test="play_volume != null">
        play_volume,
      </if>
      <if test="play_second != null">
        play_second,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskRecordID != null">
        #{taskRecordID,jdbcType=INTEGER},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userID != null">
        #{userID,jdbcType=INTEGER},
      </if>
      <if test="method != null">
        #{method,jdbcType=NVARCHAR},
      </if>
      <if test="playTime != null">
        #{playTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=NVARCHAR},
      </if>
      <if test="text != null">
        #{text,jdbcType=NVARCHAR},
      </if>
      <if test="broadcastFileIDs != null">
        #{broadcastFileIDs,jdbcType=NVARCHAR},
      </if>
      <if test="broadcastEndpoints != null">
        #{broadcastEndpoints,jdbcType=NVARCHAR},
      </if>
      <if test="hashKey != null">
        #{hashKey,jdbcType=NVARCHAR},
      </if>
      <if test="play_mode != null">
        #{play_mode,jdbcType=INTEGER},
      </if>
      <if test="play_volume != null">
        #{play_volume,jdbcType=INTEGER},
      </if>
      <if test="play_second != null">
        #{play_second,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fxjd.info.pojo.BroadcastTaskRecordExample" resultType="java.lang.Long">
    select count(*) from BroadcastTaskRecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update BroadcastTaskRecord
    <set>
      <if test="row.taskRecordID != null">
        TaskRecordID = #{row.taskRecordID,jdbcType=INTEGER},
      </if>
      <if test="row.taskName != null">
        TaskName = #{row.taskName,jdbcType=NVARCHAR},
      </if>
      <if test="row.createTime != null">
        CreateTime = #{row.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.userID != null">
        UserID = #{row.userID,jdbcType=INTEGER},
      </if>
      <if test="row.method != null">
        Method = #{row.method,jdbcType=NVARCHAR},
      </if>
      <if test="row.playTime != null">
        PlayTime = #{row.playTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.state != null">
        State = #{row.state,jdbcType=NVARCHAR},
      </if>
      <if test="row.text != null">
        Text = #{row.text,jdbcType=NVARCHAR},
      </if>
      <if test="row.broadcastFileIDs != null">
        BroadcastFileIDs = #{row.broadcastFileIDs,jdbcType=NVARCHAR},
      </if>
      <if test="row.broadcastEndpoints != null">
        BroadcastEndpoints = #{row.broadcastEndpoints,jdbcType=NVARCHAR},
      </if>
      <if test="row.hashKey != null">
        HashKey = #{row.hashKey,jdbcType=NVARCHAR},
      </if>
      <if test="row.play_mode != null">
        play_mode = #{row.play_mode,jdbcType=INTEGER},
      </if>
      <if test="row.play_volume != null">
        play_volume = #{row.play_volume,jdbcType=INTEGER},
      </if>
      <if test="row.play_second != null">
        play_second = #{row.play_second,jdbcType=INTEGER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update BroadcastTaskRecord
    set TaskRecordID = #{row.taskRecordID,jdbcType=INTEGER},
      TaskName = #{row.taskName,jdbcType=NVARCHAR},
      CreateTime = #{row.createTime,jdbcType=TIMESTAMP},
      UserID = #{row.userID,jdbcType=INTEGER},
      Method = #{row.method,jdbcType=NVARCHAR},
      PlayTime = #{row.playTime,jdbcType=TIMESTAMP},
      State = #{row.state,jdbcType=NVARCHAR},
      Text = #{row.text,jdbcType=NVARCHAR},
      BroadcastFileIDs = #{row.broadcastFileIDs,jdbcType=NVARCHAR},
      BroadcastEndpoints = #{row.broadcastEndpoints,jdbcType=NVARCHAR},
      HashKey = #{row.hashKey,jdbcType=NVARCHAR},
      play_mode = #{row.play_mode,jdbcType=INTEGER},
      play_volume = #{row.play_volume,jdbcType=INTEGER},
      play_second = #{row.play_second,jdbcType=INTEGER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fxjd.info.pojo.BroadcastTaskRecord">
    update BroadcastTaskRecord
    <set>
      <if test="taskName != null">
        TaskName = #{taskName,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userID != null">
        UserID = #{userID,jdbcType=INTEGER},
      </if>
      <if test="method != null">
        Method = #{method,jdbcType=NVARCHAR},
      </if>
      <if test="playTime != null">
        PlayTime = #{playTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        State = #{state,jdbcType=NVARCHAR},
      </if>
      <if test="text != null">
        Text = #{text,jdbcType=NVARCHAR},
      </if>
      <if test="broadcastFileIDs != null">
        BroadcastFileIDs = #{broadcastFileIDs,jdbcType=NVARCHAR},
      </if>
      <if test="broadcastEndpoints != null">
        BroadcastEndpoints = #{broadcastEndpoints,jdbcType=NVARCHAR},
      </if>
      <if test="hashKey != null">
        HashKey = #{hashKey,jdbcType=NVARCHAR},
      </if>
      <if test="play_mode != null">
        play_mode = #{play_mode,jdbcType=INTEGER},
      </if>
      <if test="play_volume != null">
        play_volume = #{play_volume,jdbcType=INTEGER},
      </if>
      <if test="play_second != null">
        play_second = #{play_second,jdbcType=INTEGER},
      </if>
    </set>
    where TaskRecordID = #{taskRecordID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fxjd.info.pojo.BroadcastTaskRecord">
    update BroadcastTaskRecord
    set TaskName = #{taskName,jdbcType=NVARCHAR},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      UserID = #{userID,jdbcType=INTEGER},
      Method = #{method,jdbcType=NVARCHAR},
      PlayTime = #{playTime,jdbcType=TIMESTAMP},
      State = #{state,jdbcType=NVARCHAR},
      Text = #{text,jdbcType=NVARCHAR},
      BroadcastFileIDs = #{broadcastFileIDs,jdbcType=NVARCHAR},
      BroadcastEndpoints = #{broadcastEndpoints,jdbcType=NVARCHAR},
      HashKey = #{hashKey,jdbcType=NVARCHAR},
      play_mode = #{play_mode,jdbcType=INTEGER},
      play_volume = #{play_volume,jdbcType=INTEGER},
      play_second = #{play_second,jdbcType=INTEGER}
    where TaskRecordID = #{taskRecordID,jdbcType=INTEGER}
  </update>
</mapper>