<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxjd.info.mapper.BroadcastFileMapper">
  <resultMap id="BaseResultMap" type="com.fxjd.info.pojo.BroadcastFile">
    <id column="BroadcastFileID" jdbcType="INTEGER" property="broadcastFileID" />
    <result column="RealFileName" jdbcType="NVARCHAR" property="realFileName" />
    <result column="FilePath" jdbcType="NVARCHAR" property="filePath" />
    <result column="FullFilePath" jdbcType="NVARCHAR" property="fullFilePath" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="FileSize" jdbcType="NVARCHAR" property="fileSize" />
    <result column="UserID" jdbcType="INTEGER" property="userID" />
    <result column="FileType" jdbcType="NVARCHAR" property="fileType" />
    <result column="CustomFileName" jdbcType="NVARCHAR" property="customFileName" />
    <result column="State" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BroadcastFileID, RealFileName, FilePath, FullFilePath, CreateTime, FileSize, UserID, 
    FileType, CustomFileName, State
  </sql>
  <select id="selectByExample" parameterType="com.fxjd.info.pojo.BroadcastFileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BroadcastFile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BroadcastFile
    where BroadcastFileID = #{broadcastFileID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from BroadcastFile
    where BroadcastFileID = #{broadcastFileID,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fxjd.info.pojo.BroadcastFileExample">
    delete from BroadcastFile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fxjd.info.pojo.BroadcastFile">
    insert into BroadcastFile (BroadcastFileID, RealFileName, FilePath, 
      FullFilePath, CreateTime, FileSize, 
      UserID, FileType, CustomFileName, 
      State)
    values (#{broadcastFileID,jdbcType=INTEGER}, #{realFileName,jdbcType=NVARCHAR}, #{filePath,jdbcType=NVARCHAR}, 
      #{fullFilePath,jdbcType=NVARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{fileSize,jdbcType=NVARCHAR}, 
      #{userID,jdbcType=INTEGER}, #{fileType,jdbcType=NVARCHAR}, #{customFileName,jdbcType=NVARCHAR}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fxjd.info.pojo.BroadcastFile">
    insert into BroadcastFile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="broadcastFileID != null">
        BroadcastFileID,
      </if>
      <if test="realFileName != null">
        RealFileName,
      </if>
      <if test="filePath != null">
        FilePath,
      </if>
      <if test="fullFilePath != null">
        FullFilePath,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
      <if test="fileSize != null">
        FileSize,
      </if>
      <if test="userID != null">
        UserID,
      </if>
      <if test="fileType != null">
        FileType,
      </if>
      <if test="customFileName != null">
        CustomFileName,
      </if>
      <if test="state != null">
        State,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="broadcastFileID != null">
        #{broadcastFileID,jdbcType=INTEGER},
      </if>
      <if test="realFileName != null">
        #{realFileName,jdbcType=NVARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=NVARCHAR},
      </if>
      <if test="fullFilePath != null">
        #{fullFilePath,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=NVARCHAR},
      </if>
      <if test="userID != null">
        #{userID,jdbcType=INTEGER},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=NVARCHAR},
      </if>
      <if test="customFileName != null">
        #{customFileName,jdbcType=NVARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fxjd.info.pojo.BroadcastFileExample" resultType="java.lang.Long">
    select count(*) from BroadcastFile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update BroadcastFile
    <set>
      <if test="row.broadcastFileID != null">
        BroadcastFileID = #{row.broadcastFileID,jdbcType=INTEGER},
      </if>
      <if test="row.realFileName != null">
        RealFileName = #{row.realFileName,jdbcType=NVARCHAR},
      </if>
      <if test="row.filePath != null">
        FilePath = #{row.filePath,jdbcType=NVARCHAR},
      </if>
      <if test="row.fullFilePath != null">
        FullFilePath = #{row.fullFilePath,jdbcType=NVARCHAR},
      </if>
      <if test="row.createTime != null">
        CreateTime = #{row.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.fileSize != null">
        FileSize = #{row.fileSize,jdbcType=NVARCHAR},
      </if>
      <if test="row.userID != null">
        UserID = #{row.userID,jdbcType=INTEGER},
      </if>
      <if test="row.fileType != null">
        FileType = #{row.fileType,jdbcType=NVARCHAR},
      </if>
      <if test="row.customFileName != null">
        CustomFileName = #{row.customFileName,jdbcType=NVARCHAR},
      </if>
      <if test="row.state != null">
        State = #{row.state,jdbcType=INTEGER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update BroadcastFile
    set BroadcastFileID = #{row.broadcastFileID,jdbcType=INTEGER},
      RealFileName = #{row.realFileName,jdbcType=NVARCHAR},
      FilePath = #{row.filePath,jdbcType=NVARCHAR},
      FullFilePath = #{row.fullFilePath,jdbcType=NVARCHAR},
      CreateTime = #{row.createTime,jdbcType=TIMESTAMP},
      FileSize = #{row.fileSize,jdbcType=NVARCHAR},
      UserID = #{row.userID,jdbcType=INTEGER},
      FileType = #{row.fileType,jdbcType=NVARCHAR},
      CustomFileName = #{row.customFileName,jdbcType=NVARCHAR},
      State = #{row.state,jdbcType=INTEGER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fxjd.info.pojo.BroadcastFile">
    update BroadcastFile
    <set>
      <if test="realFileName != null">
        RealFileName = #{realFileName,jdbcType=NVARCHAR},
      </if>
      <if test="filePath != null">
        FilePath = #{filePath,jdbcType=NVARCHAR},
      </if>
      <if test="fullFilePath != null">
        FullFilePath = #{fullFilePath,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileSize != null">
        FileSize = #{fileSize,jdbcType=NVARCHAR},
      </if>
      <if test="userID != null">
        UserID = #{userID,jdbcType=INTEGER},
      </if>
      <if test="fileType != null">
        FileType = #{fileType,jdbcType=NVARCHAR},
      </if>
      <if test="customFileName != null">
        CustomFileName = #{customFileName,jdbcType=NVARCHAR},
      </if>
      <if test="state != null">
        State = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where BroadcastFileID = #{broadcastFileID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fxjd.info.pojo.BroadcastFile">
    update BroadcastFile
    set RealFileName = #{realFileName,jdbcType=NVARCHAR},
      FilePath = #{filePath,jdbcType=NVARCHAR},
      FullFilePath = #{fullFilePath,jdbcType=NVARCHAR},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      FileSize = #{fileSize,jdbcType=NVARCHAR},
      UserID = #{userID,jdbcType=INTEGER},
      FileType = #{fileType,jdbcType=NVARCHAR},
      CustomFileName = #{customFileName,jdbcType=NVARCHAR},
      State = #{state,jdbcType=INTEGER}
    where BroadcastFileID = #{broadcastFileID,jdbcType=INTEGER}
  </update>
</mapper>