<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxjd.info.mapper.CameraEquipmentMapper">
  <resultMap id="BaseResultMap" type="com.fxjd.info.pojo.CameraEquipment">
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="StationID" jdbcType="NVARCHAR" property="stationID" />
    <result column="DeviceName" jdbcType="VARCHAR" property="deviceName" />
    <result column="DeviceType" jdbcType="VARCHAR" property="deviceType" />
    <result column="IP" jdbcType="VARCHAR" property="IP" />
    <result column="Port" jdbcType="VARCHAR" property="port" />
    <result column="Channel" jdbcType="NVARCHAR" property="channel" />
    <result column="ServerPort" jdbcType="VARCHAR" property="serverPort" />
    <result column="UserName" jdbcType="VARCHAR" property="userName" />
    <result column="UserPassword" jdbcType="VARCHAR" property="userPassword" />
    <result column="nChannelID" jdbcType="NVARCHAR" property="nChannelID" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from CameraEquipment
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fxjd.info.pojo.CameraEquipment">
    insert into CameraEquipment (ID, StationID, DeviceName, 
      DeviceType, IP, Port, 
      Channel, ServerPort, UserName, 
      UserPassword, nChannelID)
    values (#{ID,jdbcType=INTEGER}, #{stationID,jdbcType=NVARCHAR}, #{deviceName,jdbcType=VARCHAR}, 
      #{deviceType,jdbcType=VARCHAR}, #{IP,jdbcType=VARCHAR}, #{port,jdbcType=VARCHAR}, 
      #{channel,jdbcType=NVARCHAR}, #{serverPort,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPassword,jdbcType=VARCHAR}, #{nChannelID,jdbcType=NVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fxjd.info.pojo.CameraEquipment">
    update CameraEquipment
    set StationID = #{stationID,jdbcType=NVARCHAR},
      DeviceName = #{deviceName,jdbcType=VARCHAR},
      DeviceType = #{deviceType,jdbcType=VARCHAR},
      IP = #{IP,jdbcType=VARCHAR},
      Port = #{port,jdbcType=VARCHAR},
      Channel = #{channel,jdbcType=NVARCHAR},
      ServerPort = #{serverPort,jdbcType=VARCHAR},
      UserName = #{userName,jdbcType=VARCHAR},
      UserPassword = #{userPassword,jdbcType=VARCHAR},
      nChannelID = #{nChannelID,jdbcType=NVARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, StationID, DeviceName, DeviceType, IP, Port, Channel, ServerPort, UserName, 
    UserPassword, nChannelID
    from CameraEquipment
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, StationID, DeviceName, DeviceType, IP, Port, Channel, ServerPort, UserName, 
    UserPassword, nChannelID
    from CameraEquipment
  </select>
</mapper>