<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxjd.info.mapper.CtrlDetailsMapper">
  <resultMap id="BaseResultMap" type="com.fxjd.info.pojo.CtrlDetails">
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="CtrlRecordID" jdbcType="INTEGER" property="ctrlRecordID" />
    <result column="Time" jdbcType="TIMESTAMP" property="time" />
    <result column="Record" jdbcType="NVARCHAR" property="record" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from CtrlDetails
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fxjd.info.pojo.CtrlDetails">
    insert into CtrlDetails
      (CtrlRecordID, Time, Record)
    values (#{ctrlRecordID,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{record,jdbcType=NVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fxjd.info.pojo.CtrlDetails">
    update CtrlDetails
    set CtrlRecordID = #{ctrlRecordID,jdbcType=INTEGER},
      Time = #{time,jdbcType=TIMESTAMP},
      Record = #{record,jdbcType=NVARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, CtrlRecordID, Time, Record
    from CtrlDetails
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, CtrlRecordID, Time, Record
    from CtrlDetails
  </select>
  <select id="selectByCtrlRecordID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, CtrlRecordID, Time, Record
    from CtrlDetails
    where CtrlRecordID = #{ctrlRecordID}
  </select>
</mapper>