<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxjd.info.mapper.LoginRecordMapper">
  <resultMap id="BaseResultMap" type="com.fxjd.info.pojo.LoginRecord">
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="UserID" jdbcType="INTEGER" property="userID" />
    <result column="UserName" jdbcType="NVARCHAR" property="userName" />
    <result column="Time" jdbcType="TIMESTAMP" property="time" />
    <result column="IP" jdbcType="NVARCHAR" property="IP" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, UserID, UserName, Time, IP
  </sql>
  <select id="selectByExample" parameterType="com.fxjd.info.pojo.LoginRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LoginRecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LoginRecord
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from LoginRecord
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fxjd.info.pojo.LoginRecordExample">
    delete from LoginRecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fxjd.info.pojo.LoginRecord">
    insert into LoginRecord (ID, UserID, UserName, 
      Time, IP)
    values (#{ID,jdbcType=INTEGER}, #{userID,jdbcType=INTEGER}, #{userName,jdbcType=NVARCHAR}, 
      #{time,jdbcType=TIMESTAMP}, #{IP,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fxjd.info.pojo.LoginRecord">
    insert into LoginRecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="userID != null">
        UserID,
      </if>
      <if test="userName != null">
        UserName,
      </if>
      <if test="time != null">
        Time,
      </if>
      <if test="IP != null">
        IP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="userID != null">
        #{userID,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=NVARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="IP != null">
        #{IP,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fxjd.info.pojo.LoginRecordExample" resultType="java.lang.Long">
    select count(*) from LoginRecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update LoginRecord
    <set>
      <if test="row.ID != null">
        ID = #{row.ID,jdbcType=INTEGER},
      </if>
      <if test="row.userID != null">
        UserID = #{row.userID,jdbcType=INTEGER},
      </if>
      <if test="row.userName != null">
        UserName = #{row.userName,jdbcType=NVARCHAR},
      </if>
      <if test="row.time != null">
        Time = #{row.time,jdbcType=TIMESTAMP},
      </if>
      <if test="row.IP != null">
        IP = #{row.IP,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update LoginRecord
    set ID = #{row.ID,jdbcType=INTEGER},
      UserID = #{row.userID,jdbcType=INTEGER},
      UserName = #{row.userName,jdbcType=NVARCHAR},
      Time = #{row.time,jdbcType=TIMESTAMP},
      IP = #{row.IP,jdbcType=NVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fxjd.info.pojo.LoginRecord">
    update LoginRecord
    <set>
      <if test="userID != null">
        UserID = #{userID,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        UserName = #{userName,jdbcType=NVARCHAR},
      </if>
      <if test="time != null">
        Time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="IP != null">
        IP = #{IP,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fxjd.info.pojo.LoginRecord">
    update LoginRecord
    set UserID = #{userID,jdbcType=INTEGER},
      UserName = #{userName,jdbcType=NVARCHAR},
      Time = #{time,jdbcType=TIMESTAMP},
      IP = #{IP,jdbcType=NVARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>