<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxjd.info.mapper.ST_GATE_RMapper">
    <resultMap id="BaseResultMap" type="com.fxjd.info.pojo.ST_GATE_R">
        <id column="ID" jdbcType="INTEGER" property="ID"/>
        <result column="STCD" jdbcType="NVARCHAR" property="STCD"/>
        <result column="TM" jdbcType="TIMESTAMP" property="TM"/>
        <result column="EXKEY" jdbcType="NVARCHAR" property="EXKEY"/>
        <result column="EQPTP" jdbcType="NVARCHAR" property="EQPTP"/>
        <result column="EQPNO" jdbcType="NVARCHAR" property="EQPNO"/>
        <result column="GTOPNUM" jdbcType="DECIMAL" property="GTOPNUM"/>
        <result column="GTOPHGT" jdbcType="DECIMAL" property="GTOPHGT"/>
        <result column="GTQ" jdbcType="DECIMAL" property="GTQ"/>
        <result column="MSQMT" jdbcType="NVARCHAR" property="MSQMT"/>
        <result column="RunState" jdbcType="INTEGER" property="runState"/>
        <result column="Ua" jdbcType="DECIMAL" property="ua"/>
        <result column="Ub" jdbcType="DECIMAL" property="ub"/>
        <result column="Uc" jdbcType="DECIMAL" property="uc"/>
        <result column="Ia" jdbcType="DECIMAL" property="ia"/>
        <result column="Ib" jdbcType="DECIMAL" property="ib"/>
        <result column="Ic" jdbcType="DECIMAL" property="ic"/>
        <result column="ActivePower" jdbcType="DECIMAL" property="activePower"/>
        <result column="PowerFactor" jdbcType="DECIMAL" property="powerFactor"/>
        <result column="IsRemote" jdbcType="NVARCHAR" property="isRemote"/>
        <result column="Fault" jdbcType="NVARCHAR" property="fault"/>
        <result column="IsControlEle" jdbcType="NVARCHAR" property="isControlEle"/>
        <result column="TopState" jdbcType="NVARCHAR" property="topState"/>
        <result column="BottomState" jdbcType="NVARCHAR" property="bottomState"/>
        <result column="TopMax" jdbcType="NVARCHAR" property="topMax"/>
        <result column="BottomMax" jdbcType="NVARCHAR" property="bottomMax"/>
        <result column="OpUser" jdbcType="NVARCHAR" property="opUser"/>
        <result column="RUP" jdbcType="NVARCHAR" property="RUP"/>
        <result column="RDW" jdbcType="NVARCHAR" property="RDW"/>
        <result column="YUP" jdbcType="NVARCHAR" property="YUP"/>
        <result column="YDW" jdbcType="NVARCHAR" property="YDW"/>
        <result column="GUP" jdbcType="NVARCHAR" property="GUP"/>
        <result column="GDW" jdbcType="NVARCHAR" property="GDW"/>
        <result column="Overload" jdbcType="INTEGER" property="overload"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        ID
        , STCD, TM, EXKEY, EQPTP, EQPNO, GTOPNUM, GTOPHGT, GTQ, MSQMT, RunState, Ua, Ub,
    Uc, Ia, Ib, Ic, ActivePower, PowerFactor, IsRemote, Fault, IsControlEle, TopState, 
    BottomState, TopMax, BottomMax, OpUser, RUP, RDW, YUP, YDW, GUP, GDW, Overload
    </sql>
    <select id="selectByExample" parameterType="com.fxjd.info.pojo.ST_GATE_RExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from ST_GATE_R
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ST_GATE_R
        where ID = #{ID,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from ST_GATE_R
        where ID = #{ID,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.fxjd.info.pojo.ST_GATE_RExample">
        delete from ST_GATE_R
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.fxjd.info.pojo.ST_GATE_R">
        insert into ST_GATE_R (ID, STCD, TM,
                               EXKEY, EQPTP, EQPNO,
                               GTOPNUM, GTOPHGT, GTQ,
                               MSQMT, RunState, Ua,
                               Ub, Uc, Ia, Ib,
                               Ic, ActivePower, PowerFactor,
                               IsRemote, Fault, IsControlEle,
                               TopState, BottomState, TopMax,
                               BottomMax, OpUser, RUP,
                               RDW, YUP, YDW, GUP,
                               GDW, Overload)
        values (#{ID,jdbcType=INTEGER}, #{STCD,jdbcType=NVARCHAR}, #{TM,jdbcType=TIMESTAMP},
                #{EXKEY,jdbcType=NVARCHAR}, #{EQPTP,jdbcType=NVARCHAR}, #{EQPNO,jdbcType=NVARCHAR},
                #{GTOPNUM,jdbcType=DECIMAL}, #{GTOPHGT,jdbcType=DECIMAL}, #{GTQ,jdbcType=DECIMAL},
                #{MSQMT,jdbcType=NVARCHAR}, #{runState,jdbcType=INTEGER}, #{ua,jdbcType=DECIMAL},
                #{ub,jdbcType=DECIMAL}, #{uc,jdbcType=DECIMAL}, #{ia,jdbcType=DECIMAL}, #{ib,jdbcType=DECIMAL},
                #{ic,jdbcType=DECIMAL}, #{activePower,jdbcType=DECIMAL}, #{powerFactor,jdbcType=DECIMAL},
                #{isRemote,jdbcType=NVARCHAR}, #{fault,jdbcType=NVARCHAR}, #{isControlEle,jdbcType=NVARCHAR},
                #{topState,jdbcType=NVARCHAR}, #{bottomState,jdbcType=NVARCHAR}, #{topMax,jdbcType=NVARCHAR},
                #{bottomMax,jdbcType=NVARCHAR}, #{opUser,jdbcType=NVARCHAR}, #{RUP,jdbcType=NVARCHAR},
                #{RDW,jdbcType=NVARCHAR}, #{YUP,jdbcType=NVARCHAR}, #{YDW,jdbcType=NVARCHAR}, #{GUP,jdbcType=NVARCHAR},
                #{GDW,jdbcType=NVARCHAR}, #{overload,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.fxjd.info.pojo.ST_GATE_R">
        insert into ST_GATE_R
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">
                ID,
            </if>
            <if test="STCD != null">
                STCD,
            </if>
            <if test="TM != null">
                TM,
            </if>
            <if test="EXKEY != null">
                EXKEY,
            </if>
            <if test="EQPTP != null">
                EQPTP,
            </if>
            <if test="EQPNO != null">
                EQPNO,
            </if>
            <if test="GTOPNUM != null">
                GTOPNUM,
            </if>
            <if test="GTOPHGT != null">
                GTOPHGT,
            </if>
            <if test="GTQ != null">
                GTQ,
            </if>
            <if test="MSQMT != null">
                MSQMT,
            </if>
            <if test="runState != null">
                RunState,
            </if>
            <if test="ua != null">
                Ua,
            </if>
            <if test="ub != null">
                Ub,
            </if>
            <if test="uc != null">
                Uc,
            </if>
            <if test="ia != null">
                Ia,
            </if>
            <if test="ib != null">
                Ib,
            </if>
            <if test="ic != null">
                Ic,
            </if>
            <if test="activePower != null">
                ActivePower,
            </if>
            <if test="powerFactor != null">
                PowerFactor,
            </if>
            <if test="isRemote != null">
                IsRemote,
            </if>
            <if test="fault != null">
                Fault,
            </if>
            <if test="isControlEle != null">
                IsControlEle,
            </if>
            <if test="topState != null">
                TopState,
            </if>
            <if test="bottomState != null">
                BottomState,
            </if>
            <if test="topMax != null">
                TopMax,
            </if>
            <if test="bottomMax != null">
                BottomMax,
            </if>
            <if test="opUser != null">
                OpUser,
            </if>
            <if test="RUP != null">
                RUP,
            </if>
            <if test="RDW != null">
                RDW,
            </if>
            <if test="YUP != null">
                YUP,
            </if>
            <if test="YDW != null">
                YDW,
            </if>
            <if test="GUP != null">
                GUP,
            </if>
            <if test="GDW != null">
                GDW,
            </if>
            <if test="overload != null">
                Overload,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">
                #{ID,jdbcType=INTEGER},
            </if>
            <if test="STCD != null">
                #{STCD,jdbcType=NVARCHAR},
            </if>
            <if test="TM != null">
                #{TM,jdbcType=TIMESTAMP},
            </if>
            <if test="EXKEY != null">
                #{EXKEY,jdbcType=NVARCHAR},
            </if>
            <if test="EQPTP != null">
                #{EQPTP,jdbcType=NVARCHAR},
            </if>
            <if test="EQPNO != null">
                #{EQPNO,jdbcType=NVARCHAR},
            </if>
            <if test="GTOPNUM != null">
                #{GTOPNUM,jdbcType=DECIMAL},
            </if>
            <if test="GTOPHGT != null">
                #{GTOPHGT,jdbcType=DECIMAL},
            </if>
            <if test="GTQ != null">
                #{GTQ,jdbcType=DECIMAL},
            </if>
            <if test="MSQMT != null">
                #{MSQMT,jdbcType=NVARCHAR},
            </if>
            <if test="runState != null">
                #{runState,jdbcType=INTEGER},
            </if>
            <if test="ua != null">
                #{ua,jdbcType=DECIMAL},
            </if>
            <if test="ub != null">
                #{ub,jdbcType=DECIMAL},
            </if>
            <if test="uc != null">
                #{uc,jdbcType=DECIMAL},
            </if>
            <if test="ia != null">
                #{ia,jdbcType=DECIMAL},
            </if>
            <if test="ib != null">
                #{ib,jdbcType=DECIMAL},
            </if>
            <if test="ic != null">
                #{ic,jdbcType=DECIMAL},
            </if>
            <if test="activePower != null">
                #{activePower,jdbcType=DECIMAL},
            </if>
            <if test="powerFactor != null">
                #{powerFactor,jdbcType=DECIMAL},
            </if>
            <if test="isRemote != null">
                #{isRemote,jdbcType=NVARCHAR},
            </if>
            <if test="fault != null">
                #{fault,jdbcType=NVARCHAR},
            </if>
            <if test="isControlEle != null">
                #{isControlEle,jdbcType=NVARCHAR},
            </if>
            <if test="topState != null">
                #{topState,jdbcType=NVARCHAR},
            </if>
            <if test="bottomState != null">
                #{bottomState,jdbcType=NVARCHAR},
            </if>
            <if test="topMax != null">
                #{topMax,jdbcType=NVARCHAR},
            </if>
            <if test="bottomMax != null">
                #{bottomMax,jdbcType=NVARCHAR},
            </if>
            <if test="opUser != null">
                #{opUser,jdbcType=NVARCHAR},
            </if>
            <if test="RUP != null">
                #{RUP,jdbcType=NVARCHAR},
            </if>
            <if test="RDW != null">
                #{RDW,jdbcType=NVARCHAR},
            </if>
            <if test="YUP != null">
                #{YUP,jdbcType=NVARCHAR},
            </if>
            <if test="YDW != null">
                #{YDW,jdbcType=NVARCHAR},
            </if>
            <if test="GUP != null">
                #{GUP,jdbcType=NVARCHAR},
            </if>
            <if test="GDW != null">
                #{GDW,jdbcType=NVARCHAR},
            </if>
            <if test="overload != null">
                #{overload,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.fxjd.info.pojo.ST_GATE_RExample" resultType="java.lang.Long">
        select count(*) from ST_GATE_R
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update ST_GATE_R
        <set>
            <if test="row.ID != null">
                ID = #{row.ID,jdbcType=INTEGER},
            </if>
            <if test="row.STCD != null">
                STCD = #{row.STCD,jdbcType=NVARCHAR},
            </if>
            <if test="row.TM != null">
                TM = #{row.TM,jdbcType=TIMESTAMP},
            </if>
            <if test="row.EXKEY != null">
                EXKEY = #{row.EXKEY,jdbcType=NVARCHAR},
            </if>
            <if test="row.EQPTP != null">
                EQPTP = #{row.EQPTP,jdbcType=NVARCHAR},
            </if>
            <if test="row.EQPNO != null">
                EQPNO = #{row.EQPNO,jdbcType=NVARCHAR},
            </if>
            <if test="row.GTOPNUM != null">
                GTOPNUM = #{row.GTOPNUM,jdbcType=DECIMAL},
            </if>
            <if test="row.GTOPHGT != null">
                GTOPHGT = #{row.GTOPHGT,jdbcType=DECIMAL},
            </if>
            <if test="row.GTQ != null">
                GTQ = #{row.GTQ,jdbcType=DECIMAL},
            </if>
            <if test="row.MSQMT != null">
                MSQMT = #{row.MSQMT,jdbcType=NVARCHAR},
            </if>
            <if test="row.runState != null">
                RunState = #{row.runState,jdbcType=INTEGER},
            </if>
            <if test="row.ua != null">
                Ua = #{row.ua,jdbcType=DECIMAL},
            </if>
            <if test="row.ub != null">
                Ub = #{row.ub,jdbcType=DECIMAL},
            </if>
            <if test="row.uc != null">
                Uc = #{row.uc,jdbcType=DECIMAL},
            </if>
            <if test="row.ia != null">
                Ia = #{row.ia,jdbcType=DECIMAL},
            </if>
            <if test="row.ib != null">
                Ib = #{row.ib,jdbcType=DECIMAL},
            </if>
            <if test="row.ic != null">
                Ic = #{row.ic,jdbcType=DECIMAL},
            </if>
            <if test="row.activePower != null">
                ActivePower = #{row.activePower,jdbcType=DECIMAL},
            </if>
            <if test="row.powerFactor != null">
                PowerFactor = #{row.powerFactor,jdbcType=DECIMAL},
            </if>
            <if test="row.isRemote != null">
                IsRemote = #{row.isRemote,jdbcType=NVARCHAR},
            </if>
            <if test="row.fault != null">
                Fault = #{row.fault,jdbcType=NVARCHAR},
            </if>
            <if test="row.isControlEle != null">
                IsControlEle = #{row.isControlEle,jdbcType=NVARCHAR},
            </if>
            <if test="row.topState != null">
                TopState = #{row.topState,jdbcType=NVARCHAR},
            </if>
            <if test="row.bottomState != null">
                BottomState = #{row.bottomState,jdbcType=NVARCHAR},
            </if>
            <if test="row.topMax != null">
                TopMax = #{row.topMax,jdbcType=NVARCHAR},
            </if>
            <if test="row.bottomMax != null">
                BottomMax = #{row.bottomMax,jdbcType=NVARCHAR},
            </if>
            <if test="row.opUser != null">
                OpUser = #{row.opUser,jdbcType=NVARCHAR},
            </if>
            <if test="row.RUP != null">
                RUP = #{row.RUP,jdbcType=NVARCHAR},
            </if>
            <if test="row.RDW != null">
                RDW = #{row.RDW,jdbcType=NVARCHAR},
            </if>
            <if test="row.YUP != null">
                YUP = #{row.YUP,jdbcType=NVARCHAR},
            </if>
            <if test="row.YDW != null">
                YDW = #{row.YDW,jdbcType=NVARCHAR},
            </if>
            <if test="row.GUP != null">
                GUP = #{row.GUP,jdbcType=NVARCHAR},
            </if>
            <if test="row.GDW != null">
                GDW = #{row.GDW,jdbcType=NVARCHAR},
            </if>
            <if test="row.overload != null">
                Overload = #{row.overload,jdbcType=INTEGER},
            </if>
        </set>
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update ST_GATE_R
        set ID = #{row.ID,jdbcType=INTEGER},
        STCD = #{row.STCD,jdbcType=NVARCHAR},
        TM = #{row.TM,jdbcType=TIMESTAMP},
        EXKEY = #{row.EXKEY,jdbcType=NVARCHAR},
        EQPTP = #{row.EQPTP,jdbcType=NVARCHAR},
        EQPNO = #{row.EQPNO,jdbcType=NVARCHAR},
        GTOPNUM = #{row.GTOPNUM,jdbcType=DECIMAL},
        GTOPHGT = #{row.GTOPHGT,jdbcType=DECIMAL},
        GTQ = #{row.GTQ,jdbcType=DECIMAL},
        MSQMT = #{row.MSQMT,jdbcType=NVARCHAR},
        RunState = #{row.runState,jdbcType=INTEGER},
        Ua = #{row.ua,jdbcType=DECIMAL},
        Ub = #{row.ub,jdbcType=DECIMAL},
        Uc = #{row.uc,jdbcType=DECIMAL},
        Ia = #{row.ia,jdbcType=DECIMAL},
        Ib = #{row.ib,jdbcType=DECIMAL},
        Ic = #{row.ic,jdbcType=DECIMAL},
        ActivePower = #{row.activePower,jdbcType=DECIMAL},
        PowerFactor = #{row.powerFactor,jdbcType=DECIMAL},
        IsRemote = #{row.isRemote,jdbcType=NVARCHAR},
        Fault = #{row.fault,jdbcType=NVARCHAR},
        IsControlEle = #{row.isControlEle,jdbcType=NVARCHAR},
        TopState = #{row.topState,jdbcType=NVARCHAR},
        BottomState = #{row.bottomState,jdbcType=NVARCHAR},
        TopMax = #{row.topMax,jdbcType=NVARCHAR},
        BottomMax = #{row.bottomMax,jdbcType=NVARCHAR},
        OpUser = #{row.opUser,jdbcType=NVARCHAR},
        RUP = #{row.RUP,jdbcType=NVARCHAR},
        RDW = #{row.RDW,jdbcType=NVARCHAR},
        YUP = #{row.YUP,jdbcType=NVARCHAR},
        YDW = #{row.YDW,jdbcType=NVARCHAR},
        GUP = #{row.GUP,jdbcType=NVARCHAR},
        GDW = #{row.GDW,jdbcType=NVARCHAR},
        Overload = #{row.overload,jdbcType=INTEGER}
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.fxjd.info.pojo.ST_GATE_R">
        update ST_GATE_R
        <set>
            <if test="STCD != null">
                STCD = #{STCD,jdbcType=NVARCHAR},
            </if>
            <if test="TM != null">
                TM = #{TM,jdbcType=TIMESTAMP},
            </if>
            <if test="EXKEY != null">
                EXKEY = #{EXKEY,jdbcType=NVARCHAR},
            </if>
            <if test="EQPTP != null">
                EQPTP = #{EQPTP,jdbcType=NVARCHAR},
            </if>
            <if test="EQPNO != null">
                EQPNO = #{EQPNO,jdbcType=NVARCHAR},
            </if>
            <if test="GTOPNUM != null">
                GTOPNUM = #{GTOPNUM,jdbcType=DECIMAL},
            </if>
            <if test="GTOPHGT != null">
                GTOPHGT = #{GTOPHGT,jdbcType=DECIMAL},
            </if>
            <if test="GTQ != null">
                GTQ = #{GTQ,jdbcType=DECIMAL},
            </if>
            <if test="MSQMT != null">
                MSQMT = #{MSQMT,jdbcType=NVARCHAR},
            </if>
            <if test="runState != null">
                RunState = #{runState,jdbcType=INTEGER},
            </if>
            <if test="ua != null">
                Ua = #{ua,jdbcType=DECIMAL},
            </if>
            <if test="ub != null">
                Ub = #{ub,jdbcType=DECIMAL},
            </if>
            <if test="uc != null">
                Uc = #{uc,jdbcType=DECIMAL},
            </if>
            <if test="ia != null">
                Ia = #{ia,jdbcType=DECIMAL},
            </if>
            <if test="ib != null">
                Ib = #{ib,jdbcType=DECIMAL},
            </if>
            <if test="ic != null">
                Ic = #{ic,jdbcType=DECIMAL},
            </if>
            <if test="activePower != null">
                ActivePower = #{activePower,jdbcType=DECIMAL},
            </if>
            <if test="powerFactor != null">
                PowerFactor = #{powerFactor,jdbcType=DECIMAL},
            </if>
            <if test="isRemote != null">
                IsRemote = #{isRemote,jdbcType=NVARCHAR},
            </if>
            <if test="fault != null">
                Fault = #{fault,jdbcType=NVARCHAR},
            </if>
            <if test="isControlEle != null">
                IsControlEle = #{isControlEle,jdbcType=NVARCHAR},
            </if>
            <if test="topState != null">
                TopState = #{topState,jdbcType=NVARCHAR},
            </if>
            <if test="bottomState != null">
                BottomState = #{bottomState,jdbcType=NVARCHAR},
            </if>
            <if test="topMax != null">
                TopMax = #{topMax,jdbcType=NVARCHAR},
            </if>
            <if test="bottomMax != null">
                BottomMax = #{bottomMax,jdbcType=NVARCHAR},
            </if>
            <if test="opUser != null">
                OpUser = #{opUser,jdbcType=NVARCHAR},
            </if>
            <if test="RUP != null">
                RUP = #{RUP,jdbcType=NVARCHAR},
            </if>
            <if test="RDW != null">
                RDW = #{RDW,jdbcType=NVARCHAR},
            </if>
            <if test="YUP != null">
                YUP = #{YUP,jdbcType=NVARCHAR},
            </if>
            <if test="YDW != null">
                YDW = #{YDW,jdbcType=NVARCHAR},
            </if>
            <if test="GUP != null">
                GUP = #{GUP,jdbcType=NVARCHAR},
            </if>
            <if test="GDW != null">
                GDW = #{GDW,jdbcType=NVARCHAR},
            </if>
            <if test="overload != null">
                Overload = #{overload,jdbcType=INTEGER},
            </if>
        </set>
        where ID = #{ID,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fxjd.info.pojo.ST_GATE_R">
        update ST_GATE_R
        set STCD         = #{STCD,jdbcType=NVARCHAR},
            TM           = #{TM,jdbcType=TIMESTAMP},
            EXKEY        = #{EXKEY,jdbcType=NVARCHAR},
            EQPTP        = #{EQPTP,jdbcType=NVARCHAR},
            EQPNO        = #{EQPNO,jdbcType=NVARCHAR},
            GTOPNUM      = #{GTOPNUM,jdbcType=DECIMAL},
            GTOPHGT      = #{GTOPHGT,jdbcType=DECIMAL},
            GTQ          = #{GTQ,jdbcType=DECIMAL},
            MSQMT        = #{MSQMT,jdbcType=NVARCHAR},
            RunState     = #{runState,jdbcType=INTEGER},
            Ua           = #{ua,jdbcType=DECIMAL},
            Ub           = #{ub,jdbcType=DECIMAL},
            Uc           = #{uc,jdbcType=DECIMAL},
            Ia           = #{ia,jdbcType=DECIMAL},
            Ib           = #{ib,jdbcType=DECIMAL},
            Ic           = #{ic,jdbcType=DECIMAL},
            ActivePower  = #{activePower,jdbcType=DECIMAL},
            PowerFactor  = #{powerFactor,jdbcType=DECIMAL},
            IsRemote     = #{isRemote,jdbcType=NVARCHAR},
            Fault        = #{fault,jdbcType=NVARCHAR},
            IsControlEle = #{isControlEle,jdbcType=NVARCHAR},
            TopState     = #{topState,jdbcType=NVARCHAR},
            BottomState  = #{bottomState,jdbcType=NVARCHAR},
            TopMax       = #{topMax,jdbcType=NVARCHAR},
            BottomMax    = #{bottomMax,jdbcType=NVARCHAR},
            OpUser       = #{opUser,jdbcType=NVARCHAR},
            RUP          = #{RUP,jdbcType=NVARCHAR},
            RDW          = #{RDW,jdbcType=NVARCHAR},
            YUP          = #{YUP,jdbcType=NVARCHAR},
            YDW          = #{YDW,jdbcType=NVARCHAR},
            GUP          = #{GUP,jdbcType=NVARCHAR},
            GDW          = #{GDW,jdbcType=NVARCHAR},
            Overload     = #{overload,jdbcType=INTEGER}
        where ID = #{ID,jdbcType=INTEGER}
    </update>


    <select id="getLatestBySTCD" resultMap="BaseResultMap">
        select top 1
        <include refid="Base_Column_List"/>
        from ST_GATE_R
        where STCD=#{stcd }
        and EQPNO =#{eqpno}
        order by TM desc
    </select>
</mapper>