<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxjd.info.mapper.ST_PPTN_RMapper">
  <resultMap id="BaseResultMap" type="com.fxjd.info.pojo.ST_PPTN_R">
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="STCD" jdbcType="NVARCHAR" property="STCD" />
    <result column="TM" jdbcType="TIMESTAMP" property="TM" />
    <result column="DRP" jdbcType="DECIMAL" property="DRP" />
    <result column="INTV" jdbcType="DECIMAL" property="INTV" />
    <result column="PDR" jdbcType="DECIMAL" property="PDR" />
    <result column="DYP" jdbcType="DECIMAL" property="DYP" />
    <result column="WTH" jdbcType="NVARCHAR" property="WTH" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ST_PPTN_R
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fxjd.info.pojo.ST_PPTN_R">
    insert into ST_PPTN_R (ID, STCD, TM, 
      DRP, INTV, PDR, DYP, 
      WTH)
    values (#{ID,jdbcType=INTEGER}, #{STCD,jdbcType=NVARCHAR}, #{TM,jdbcType=TIMESTAMP}, 
      #{DRP,jdbcType=DECIMAL}, #{INTV,jdbcType=DECIMAL}, #{PDR,jdbcType=DECIMAL}, #{DYP,jdbcType=DECIMAL}, 
      #{WTH,jdbcType=NVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fxjd.info.pojo.ST_PPTN_R">
    update ST_PPTN_R
    set STCD = #{STCD,jdbcType=NVARCHAR},
      TM = #{TM,jdbcType=TIMESTAMP},
      DRP = #{DRP,jdbcType=DECIMAL},
      INTV = #{INTV,jdbcType=DECIMAL},
      PDR = #{PDR,jdbcType=DECIMAL},
      DYP = #{DYP,jdbcType=DECIMAL},
      WTH = #{WTH,jdbcType=NVARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, STCD, TM, DRP, INTV, PDR, DYP, WTH
    from ST_PPTN_R
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, STCD, TM, DRP, INTV, PDR, DYP, WTH
    from ST_PPTN_R
  </select>
</mapper>