<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxjd.info.mapper.ST_RAIN_BMapper">
  <resultMap id="BaseResultMap" type="com.fxjd.info.pojo.ST_RAIN_B">
    <id column="STCD" jdbcType="NVARCHAR" property="STCD" />
    <id column="EQPNO" jdbcType="NVARCHAR" property="EQPNO" />
    <result column="Name" jdbcType="NVARCHAR" property="name" />
    <result column="RainType" jdbcType="NVARCHAR" property="rainType" />
    <result column="RainRemark" jdbcType="NVARCHAR" property="rainRemark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    STCD, EQPNO, Name, RainType, RainRemark
  </sql>
  <select id="selectByExample" parameterType="com.fxjd.info.pojo.ST_RAIN_BExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ST_RAIN_B
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.fxjd.info.pojo.ST_RAIN_BKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ST_RAIN_B
    where STCD = #{STCD,jdbcType=NVARCHAR}
      and EQPNO = #{EQPNO,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.fxjd.info.pojo.ST_RAIN_BKey">
    delete from ST_RAIN_B
    where STCD = #{STCD,jdbcType=NVARCHAR}
      and EQPNO = #{EQPNO,jdbcType=NVARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fxjd.info.pojo.ST_RAIN_BExample">
    delete from ST_RAIN_B
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fxjd.info.pojo.ST_RAIN_B">
    insert into ST_RAIN_B (STCD, EQPNO, Name, 
      RainType, RainRemark)
    values (#{STCD,jdbcType=NVARCHAR}, #{EQPNO,jdbcType=NVARCHAR}, #{name,jdbcType=NVARCHAR}, 
      #{rainType,jdbcType=NVARCHAR}, #{rainRemark,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fxjd.info.pojo.ST_RAIN_B">
    insert into ST_RAIN_B
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="STCD != null">
        STCD,
      </if>
      <if test="EQPNO != null">
        EQPNO,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="rainType != null">
        RainType,
      </if>
      <if test="rainRemark != null">
        RainRemark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="STCD != null">
        #{STCD,jdbcType=NVARCHAR},
      </if>
      <if test="EQPNO != null">
        #{EQPNO,jdbcType=NVARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="rainType != null">
        #{rainType,jdbcType=NVARCHAR},
      </if>
      <if test="rainRemark != null">
        #{rainRemark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fxjd.info.pojo.ST_RAIN_BExample" resultType="java.lang.Long">
    select count(*) from ST_RAIN_B
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ST_RAIN_B
    <set>
      <if test="row.STCD != null">
        STCD = #{row.STCD,jdbcType=NVARCHAR},
      </if>
      <if test="row.EQPNO != null">
        EQPNO = #{row.EQPNO,jdbcType=NVARCHAR},
      </if>
      <if test="row.name != null">
        Name = #{row.name,jdbcType=NVARCHAR},
      </if>
      <if test="row.rainType != null">
        RainType = #{row.rainType,jdbcType=NVARCHAR},
      </if>
      <if test="row.rainRemark != null">
        RainRemark = #{row.rainRemark,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ST_RAIN_B
    set STCD = #{row.STCD,jdbcType=NVARCHAR},
      EQPNO = #{row.EQPNO,jdbcType=NVARCHAR},
      Name = #{row.name,jdbcType=NVARCHAR},
      RainType = #{row.rainType,jdbcType=NVARCHAR},
      RainRemark = #{row.rainRemark,jdbcType=NVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fxjd.info.pojo.ST_RAIN_B">
    update ST_RAIN_B
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="rainType != null">
        RainType = #{rainType,jdbcType=NVARCHAR},
      </if>
      <if test="rainRemark != null">
        RainRemark = #{rainRemark,jdbcType=NVARCHAR},
      </if>
    </set>
    where STCD = #{STCD,jdbcType=NVARCHAR}
      and EQPNO = #{EQPNO,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fxjd.info.pojo.ST_RAIN_B">
    update ST_RAIN_B
    set Name = #{name,jdbcType=NVARCHAR},
      RainType = #{rainType,jdbcType=NVARCHAR},
      RainRemark = #{rainRemark,jdbcType=NVARCHAR}
    where STCD = #{STCD,jdbcType=NVARCHAR}
      and EQPNO = #{EQPNO,jdbcType=NVARCHAR}
  </update>
</mapper>