<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxjd.info.mapper.WarnLogMapper">
  <resultMap id="BaseResultMap" type="com.fxjd.info.pojo.WarnLog">
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="STCD" jdbcType="NVARCHAR" property="STCD" />
    <result column="ItemID" jdbcType="NVARCHAR" property="itemID" />
    <result column="Name" jdbcType="NVARCHAR" property="name" />
    <result column="WarnTime" jdbcType="TIMESTAMP" property="warnTime" />
    <result column="FreeTime" jdbcType="TIMESTAMP" property="freeTime" />
    <result column="WarnState" jdbcType="NVARCHAR" property="warnState" />
    <result column="Value" jdbcType="DECIMAL" property="value" />
    <result column="WarnType" jdbcType="NVARCHAR" property="warnType" />
    <result column="Type" jdbcType="NVARCHAR" property="type" />
    <result column="Memo" jdbcType="NVARCHAR" property="memo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, STCD, ItemID, Name, WarnTime, FreeTime, WarnState, Value, WarnType, Type, Memo
  </sql>
  <select id="selectByExample" parameterType="com.fxjd.info.pojo.WarnLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from WarnLog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from WarnLog
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from WarnLog
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fxjd.info.pojo.WarnLogExample">
    delete from WarnLog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fxjd.info.pojo.WarnLog">
    insert into WarnLog (ID, STCD, ItemID, 
      Name, WarnTime, FreeTime, 
      WarnState, Value, WarnType, 
      Type, Memo)
    values (#{ID,jdbcType=INTEGER}, #{STCD,jdbcType=NVARCHAR}, #{itemID,jdbcType=NVARCHAR}, 
      #{name,jdbcType=NVARCHAR}, #{warnTime,jdbcType=TIMESTAMP}, #{freeTime,jdbcType=TIMESTAMP}, 
      #{warnState,jdbcType=NVARCHAR}, #{value,jdbcType=DECIMAL}, #{warnType,jdbcType=NVARCHAR}, 
      #{type,jdbcType=NVARCHAR}, #{memo,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fxjd.info.pojo.WarnLog">
    insert into WarnLog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="STCD != null">
        STCD,
      </if>
      <if test="itemID != null">
        ItemID,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="warnTime != null">
        WarnTime,
      </if>
      <if test="freeTime != null">
        FreeTime,
      </if>
      <if test="warnState != null">
        WarnState,
      </if>
      <if test="value != null">
        Value,
      </if>
      <if test="warnType != null">
        WarnType,
      </if>
      <if test="type != null">
        Type,
      </if>
      <if test="memo != null">
        Memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="STCD != null">
        #{STCD,jdbcType=NVARCHAR},
      </if>
      <if test="itemID != null">
        #{itemID,jdbcType=NVARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="warnTime != null">
        #{warnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="freeTime != null">
        #{freeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="warnState != null">
        #{warnState,jdbcType=NVARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=DECIMAL},
      </if>
      <if test="warnType != null">
        #{warnType,jdbcType=NVARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=NVARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fxjd.info.pojo.WarnLogExample" resultType="java.lang.Long">
    select count(*) from WarnLog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update WarnLog
    <set>
      <if test="row.ID != null">
        ID = #{row.ID,jdbcType=INTEGER},
      </if>
      <if test="row.STCD != null">
        STCD = #{row.STCD,jdbcType=NVARCHAR},
      </if>
      <if test="row.itemID != null">
        ItemID = #{row.itemID,jdbcType=NVARCHAR},
      </if>
      <if test="row.name != null">
        Name = #{row.name,jdbcType=NVARCHAR},
      </if>
      <if test="row.warnTime != null">
        WarnTime = #{row.warnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.freeTime != null">
        FreeTime = #{row.freeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.warnState != null">
        WarnState = #{row.warnState,jdbcType=NVARCHAR},
      </if>
      <if test="row.value != null">
        Value = #{row.value,jdbcType=DECIMAL},
      </if>
      <if test="row.warnType != null">
        WarnType = #{row.warnType,jdbcType=NVARCHAR},
      </if>
      <if test="row.type != null">
        Type = #{row.type,jdbcType=NVARCHAR},
      </if>
      <if test="row.memo != null">
        Memo = #{row.memo,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update WarnLog
    set ID = #{row.ID,jdbcType=INTEGER},
      STCD = #{row.STCD,jdbcType=NVARCHAR},
      ItemID = #{row.itemID,jdbcType=NVARCHAR},
      Name = #{row.name,jdbcType=NVARCHAR},
      WarnTime = #{row.warnTime,jdbcType=TIMESTAMP},
      FreeTime = #{row.freeTime,jdbcType=TIMESTAMP},
      WarnState = #{row.warnState,jdbcType=NVARCHAR},
      Value = #{row.value,jdbcType=DECIMAL},
      WarnType = #{row.warnType,jdbcType=NVARCHAR},
      Type = #{row.type,jdbcType=NVARCHAR},
      Memo = #{row.memo,jdbcType=NVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fxjd.info.pojo.WarnLog">
    update WarnLog
    <set>
      <if test="STCD != null">
        STCD = #{STCD,jdbcType=NVARCHAR},
      </if>
      <if test="itemID != null">
        ItemID = #{itemID,jdbcType=NVARCHAR},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="warnTime != null">
        WarnTime = #{warnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="freeTime != null">
        FreeTime = #{freeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="warnState != null">
        WarnState = #{warnState,jdbcType=NVARCHAR},
      </if>
      <if test="value != null">
        Value = #{value,jdbcType=DECIMAL},
      </if>
      <if test="warnType != null">
        WarnType = #{warnType,jdbcType=NVARCHAR},
      </if>
      <if test="type != null">
        Type = #{type,jdbcType=NVARCHAR},
      </if>
      <if test="memo != null">
        Memo = #{memo,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fxjd.info.pojo.WarnLog">
    update WarnLog
    set STCD = #{STCD,jdbcType=NVARCHAR},
      ItemID = #{itemID,jdbcType=NVARCHAR},
      Name = #{name,jdbcType=NVARCHAR},
      WarnTime = #{warnTime,jdbcType=TIMESTAMP},
      FreeTime = #{freeTime,jdbcType=TIMESTAMP},
      WarnState = #{warnState,jdbcType=NVARCHAR},
      Value = #{value,jdbcType=DECIMAL},
      WarnType = #{warnType,jdbcType=NVARCHAR},
      Type = #{type,jdbcType=NVARCHAR},
      Memo = #{memo,jdbcType=NVARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>